@model Presentation.ViewModel.FileViewModel
<form asp-controller="Salesman" asp-action="MainPage" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="File" />
    <input type="submit" />

</form>

